<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- CSS only -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	
	<link href="https://fonts.googleapis.com/css2?family=K2D:wght@300&display=swap" rel="stylesheet">
</head>
<body background="img/bg02.jpg">
	<div id="mySidebar" class="sidebar">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
		<a href="index.html">หน้าหลัก</a>
		<a class="dropdown-btn01">เมนูอาหาร</a>
		<div class="dropdown-container">
			<a href="kamu.html">ข้าวขาหมู</a>
            <a href="kaijeaw.html">ข้าวไข่เจียว</a>
            <a href="burger.html">แฮมเบอร์เกอร์</a>
			<a href="remen.html">ราเม็ง</a>
			<a href="munkai.html">ข้าวมันไก่</a>
            <a href="kung.html">ข้าวผัดกุ้ง</a>
            <a href="Kapal.html">ข้าวกะเพราไข่ดาว</a>
			<a href="steak.html">สเต็ก</a>
		</div>
		<a href="5muu.html">สารอาหาร</a>
		<a href="pira.html">ปีรามิดอาหาร</a>
		<a href="bmi.html">คำนวณ BMI</a>
	</div>

	<button class="openbtn" onclick="openNav()">☰ Menu</button>
	<div class="bg03" style="height: auto;">
		<h1 class="Eff4 title">คำนวณ BMI</h1><br><br>
		<div id="test" class="container">
			<h2><b class="Eff4"><i>น้ำหนัก&emsp; (กิโลกรัม) :</i></b><br><br><input class="Eff4" type="number" placeholder="เช่น 50" v-model="w" style="border-radius: 8%;"></h2><br>
			<h2><b class="Eff4"><i>ส่วนสูง&emsp; (เซนติเมตร):</i></b><br><br><input class="Eff4" type="number" placeholder="เช่น 1.7" v-model="h" style="border-radius: 8%;"></h2>
			<br>
			<h5 class="Eff4" style="font-size: 40px;">ค่า BMI ของคุณคือ <br><font style="font-size: 60px;"> {{cal()}} !</font></h5><br><br>
			<div id="pic"></div><br>
			<h5 class="Eff4" style="font-size: 40px;">{{res()}}</h5><br>
			<h5 class="Eff4" style="font-size: 30px;">{{rec()}}</h5><br><br>
			<div id="rec"></div>
		</div>
	</div><br><br><br>
	<div class="foot">
		<div class="row">
			<div class="col-4">
				<a href="javascript:history.back(1)"><img src="img/22.png" class="som1"></a>
			</div>
			<div class="col-4" style="padding-top: 40px;">
				<h1 class="head4">อาหารยอดฮิต</h1>
			</div>
			<div class="col-4">
				<a href="index.html"><img src="img/11.png" class="som2"></a>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="js.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript">
		let app = new Vue({
			el: '#test',
			data: {
				w: 0,
				h: 1
			},
			methods:{
				cal: function(){
					let b = parseFloat(this.h)/100
					let x = parseFloat(this.w)/(parseFloat(b)*parseFloat(b))
					return x.toFixed(1)
				},
				res: function(){
					var imgPng = {
					  0:"-",
					  1: "img/b01.png",
					  2: "img/b02.png",
					  3: "img/b03.png",
					  4: "img/b04.png",
					  5: "img/b05.png",
					}
					let a = this.cal()
					if (a == 0) {
						return "ใส่น้ำหนักกับส่วนสูงสิ!"
					}
					else if (a <= 18.5) {
						var img = `<img src="${imgPng[1]}" style="width:auto; height:300px;" class="middle">`
						document.getElementById("pic").innerHTML=img
						return "คุณผอมเกินไป!"
					}
					else if (a > 18.5 && a <= 22.9) {
						document.getElementById("pic").innerHTML=`<img src="${imgPng[2]}" style="width:auto; height:300px;" class="middle">`
						return "คุณสมส่วน!"
					}
					else if (a > 22.9 && a <= 24.9) {
						var img = `<img src="${imgPng[3]}" style="width:auto; height:300px;" class="middle">`
						document.getElementById("pic").innerHTML=img
						return "คุณน้ำหนักค่อนข้างมาก!"
					}
					else if (a > 24.9 && a <= 29.9) {
						var img = `<img src="${imgPng[4]}" style="width:auto; height:300px;" class="middle">`
						document.getElementById("pic").innerHTML=img
						return "คุณอ้วนแล้วนะ!"
					}
					else{
						var img = `<img src="${imgPng[5]}" style="width:auto; height:300px;" class="middle">`
						document.getElementById("pic").innerHTML=img
						return "คุณอ้วนเกินไปแล้ว!"
					}
				},
				rec: function(){
					let a = this.cal()
					if (a == 0) {
						return "แล้วเราจะแนะนำให้คุณเอง!"
					}
					else if (a <= 18.5) {
						var img = `<div class="row">
										<div class="col-3">
											<a href="kamu.html"><h2>ข้าวขาหมู</h2><br>
											<img class="Eff3 middle" src="img/kamu01.png"></a>
										</div>
										<div class="col-3">
											<a href="munkai.html"><h2>ข้าวมันไก่</h2><br>
											<img class="Eff3 middle" src="img/Munkai.png"></a>
										</div>
										<div class="col-3">
											<a href="burger.html"><h2>เบอร์เกอร์</h2><br>
											<img class="Eff3 middle" src="img/bk01.png"></a>
										</div>
										<div class="col-3">
											<a href="Steak.html"><h2>สเต็ก</h2><br>
											<img class="Eff3 middle" src="img/Steak.png"></a>
										</div>
									</div>`
						document.getElementById("rec").innerHTML=img
						return "เราขอแนะนำ!"
					}
					else if (a > 18.5 && a <= 22.9) {
						var img = `<div class="row">
										<div class="col-4">
											<a href="kaijeaw.html"><h2>ข้าวไข่เจียว</h2><br>
											<img class="Eff3 middle" src="img/kaijeaw.png"></a>
										</div>
										<div class="col-4">
											<a href="ramen.html"><h2>ราเม็ง</h2><br>
											<img class="Eff3 middle" src="img/ramen.png"></a>
										</div>
										<div class="col-4">
											<a href="Steak.html"><h2>สเต็ก</h2><br>
											<img class="Eff3 middle" src="img/Steak.png"></a>
										</div>
									</div>`
						document.getElementById("rec").innerHTML=img
						return "เราขอแนะนำ!"
					}
					else if (a > 22.9 && a <= 24.9) {
						var img = `<div class="row">
										<div class="col-4">
											<a href="kaijeaw.html"><h2>ข้าวไข่เจียว</h2><br>
											<img class="Eff3 middle" src="img/kaijeaw.png"></a>
										</div>
										<div class="col-4">
											<a href="Kapal.html"><h2>ข้าวกะเพราไข่ดาว</h2><br>
											<img class="Eff3 middle" src="img/Kapal.png"></a>
										</div>
										<div class="col-4">
											<a href="Steak.html"><h2>สเต็ก</h2><br>
											<img class="Eff3 middle" src="img/Steak.png"></a>
										</div>
									</div>`
						document.getElementById("rec").innerHTML=img
						return "เราขอแนะนำ!"
					}
					else if (a > 24.9 && a <= 29.9) {
						var img = `<div class="row">
										<div class="col-6">
											<a href="kaijeaw.html"><h2>ข้าวไข่เจียว</h2><br>
											<img class="Eff3 middle" src="img/kaijeaw.png"></a>
										</div>
										<div class="col-6">
											<a href="kung.html"><h2>ข้าวผัดกุ้ง</h2><br>
											<img class="Eff3 middle" src="img/kk02.png"></a>
										</div>
									</div>`
						document.getElementById("rec").innerHTML=img
						return "เราขอแนะนำ!"
					}
					else{
						var img = `<div class="row">
										<div class="col-6">
											<a href="kaijeaw.html"><h2>ข้าวไข่เจียว</h2><br>
											<img class="Eff3 middle" src="img/kaijeaw.png"></a>
										</div>
										<div class="col-6">
											<a href="ramen.html"><h2>ราเม็ง</h2><br>
											<img class="Eff3 middle" src="img/ramen.png"></a>
										</div>
									</div>`
						document.getElementById("rec").innerHTML=img
						return "เราขอแนะนำ!"
					}
				},
			},
		})
	</script>
</body>
</html>