body{
	overflow-x: hidden;
}
img{
	width: 60%;
	height: auto;
}
h1,h2,h3,h4,h5{
	text-align: center;
}
.foot{
  width: 100%;
  height: 128px;
  background-color: #1919a4;
}
.qs{
  transition: 1s;
  position: relative;
  top: 50px;
  cursor: pointer;
  z-index: 5;
}
.ans{
  transition: 1.5s;
  position: absolute;
  top: 2300px;
  left: 20%;
  opacity: 0;
  z-index: 1;
}
.cont{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
}
.middle{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.head01{
	margin-right: 30%;
	padding-top: 20%;
}
.head02{
	margin-right: 30%;
	padding-top: 10%;
}
.bg01{
	padding-top: 50px;
	width: auto;
	height: 970px;
	background-image: url('img/bg01.jpg');
  background-attachment: relative;
  background-repeat: no-repeat;
}
.bg02{
	padding-top: 50px;
	width: auto;
	height: 1180px;
	background-color: #00000a;
}

/*Menu bar*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a,.dropdown-btn01,.dropdown-btn02 {
  padding: 8px 8px 8px 32px;
  cursor: pointer;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.5s;
}

.sidebar a:hover, .dropdown-btn01:hover,.dropdown-btn02:hover {
  color: #f1f1f1;
}
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  position: fixed;
  left: 3%;
  top: 3%;
}

.openbtn:hover {
  background-color: #444;
}

.ul{
    position: fixed;
    right: 1rem;
    top: 30%;
    z-index: 100;
    width: 10%;
}
.navig:hover {
    filter: drop-shadow(0 0 7px rgb(255, 255, 255, 1));
    fill: rgb(255, 255, 255, 1);
}

.navig {
    transition: .3s;
    fill: rgb(255, 255, 255, 0);
}

/*Animation1*/
.an01 {
  position: absolute;
  animation: an01 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes an01 {
	0%{ transform: rotate(-360deg); opacity: 0; left: -500px}
	40%{ transform: rotate(0deg); opacity: 1; left: 100px;}
  50%{ transform: rotate(0deg); opacity: 1; left: 100px;}
  70%{ transform: rotate(-360deg); opacity: 0; left: -500px;}
}

.an02 {
  position: absolute;
  animation: an02 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes an02 {
	0% { opacity: 0; right: -500px;}
	40% { opacity: 1; right: 20%;}
  50% { opacity: 1; right: 20%;}
  70% { opacity: 0; right: -500px;}
}
.an03 {
  position: absolute;
  animation: an03 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes an03 {
  38% { opacity: 0; right: 500px;}
  47% { opacity: 1; right: 50px;}
  67% { opacity: 1; right: 50px;}
  87% { opacity: 0; right: 500px;}
}
.an04 {
  position: absolute;
  animation: an04 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes an04 {
  35% { opacity: 0; transform: scale(0);}
  47% { opacity: 1; transform: scale(1);}
  67% { opacity: 1; transform: scale(1);}
  87% { opacity: 0; transform: scale(0);}
}
.an05 {
  position: relative;
  animation: an05 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes an05 {
  80% { opacity: 0; top: -100px;}
  85% { opacity: 1; top:0px;}
  100%{opacity: 1;}
}

/*Animation2*/
.Eff1 {
  position: relative;
  animation: Eff1 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes Eff1 {
  0% { opacity: 1; top: 0px; transform: scale(1);}
  40% { opacity: 0; top: 400px; transform: scale(0);}
}

.Eff2 {
  position: relative;
  animation: Eff2 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes Eff2 {
  0% { opacity: 1; top: 0px; transform: scale(1);}
  40% { opacity: 0; top: 200px; transform: scale(0);}
}