body{
	overflow-x: hidden;
}
img{
	width: 60%;
	height: auto;
}
h1,h2,h3,h4,h5{
	text-align: center;
  font-family: 'K2D', sans-serif;
}
.fix{
  position: fixed;
  border-radius: 25%;
  top: 12%;
  left: 3%;
  width: 100px;
  height: 100px;
  background-image: url('img/bmii.png');
  color: white;
}
.ff1{
  color: black;
}
.a1{
  height: 250px;
  width: auto;
}
.foot{
  width: 100%;
  height: 128px;
  background-image: url("img/bg01.jpg");
}
.qs{
  transition: 1s;
  position: relative;
  top: -50px;
  cursor: pointer;
  z-index: 5;
}
.ans{
  transition: 1.5s;
  position: absolute;
  top: 2300px;
  left: 20%;
  opacity: 0;
  z-index: 1;
}
.cont{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
}
.middle{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.title{
  font-size: 80px;
}
.head1{
  margin-right: 30%;
  padding-top: 15%;
  font-size: 40px;
}
.head01{
	margin-right: 30%;
  font-size: 50px;
}
.head02{
	position: absolute;
  top: 1080px;
  left: 30%;
  z-index: 5;
}
.head2{
  font-size: 70px;
}
.head3{
  font-size: 60px;

}
.head4{
  color: yellow;
  font-size: 50px;
}
.gr{
  box-shadow: 0 0 50px #FFDC77;
}
.bg01{
	padding-top: 50px;
	width: auto;
	height: 970px; 
	background-color: #ccf6c8;
  background-attachment: relative;
  background-repeat: no-repeat;
}
.bg02{
	padding-top: 50px;
	width: auto;
	height: 1080px;
  background-color: #fafcc2;
}
.bg03{
  padding-top: 50px;
  width: auto;
  height: 970px;
  background-color: #f6d6ad;
}
.som1{
  position: relative;
  left: 20%;
  top: 25%;
  width: 30%;
  transition: .5s;
}
.som2{
  position: relative;
  left: 35%;
  top: 25%;
  width: 30%;
  transition: .5s;
}
.som1:hover, .som2:hover {
  cursor: pointer;
  transform: scale(1.2);
}
/*Menu bar*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a,.dropdown-btn01,.dropdown-btn02 {
  padding: 8px 8px 8px 32px;
  cursor: pointer;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.5s;
}

.sidebar a:hover, .dropdown-btn01:hover,.dropdown-btn02:hover {
  color: #f1f1f1;
}
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  position: fixed;
  left: 3%;
  top: 3%;
  z-index: 500;
}

.openbtn:hover {
  background-color: #444;
}

.ul{
    position: fixed;
    right: 1rem;
    top: 30%;
    z-index: 100;
    width: 10%;
}
.navig:hover {
    filter: drop-shadow(0 0 7px rgb(255, 255, 255, 1));
    fill: #8AF757;
}

.navig {
    transition: .3s;
    fill: #ED4F14;
}

/*Animation1*/
.an01 {
  position: absolute;
  animation: an01 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes an01 {
	0%{ transform: rotate(-360deg); opacity: 0; left: -500px}
	40%{ transform: rotate(0deg); opacity: 1; left: 100px;}
  50%{ transform: rotate(0deg); opacity: 1; left: 100px;}
  70%{ transform: rotate(-360deg); opacity: 0; left: -500px;}
}

.an02 {
  position: absolute;
  animation: an02 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes an02 {
	0% { opacity: 0; right: -500px;}
	40% { opacity: 1; right: 20%;}
  50% { opacity: 1; right: 20%;}
  70% { opacity: 0; right: -500px;}
}
.an03 {
  position: absolute;
  animation: an03 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes an03 {
  0%{ opacity: 0; top: 1280px;}
  20% { opacity: 0; top: 1280px;}
  40% { opacity: 1; top: 1080px;}
  60% { opacity: 1; top: 1080px;}
  80% { opacity: 0; top: 1280px;}
}
.an04 {
  position: absolute;
  animation: an04 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes an04 {
  0%{ opacity: 0; transform: scale(0);}
  30% { opacity: 0; transform: scale(0);}
  40% { opacity: 1; transform: scale(1);}
  50% { opacity: 1; transform: scale(1);}
  70% { opacity: 0; transform: scale(0);}
}
.an05 {
  position: relative;
  animation: an05 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes an05 {
  80% { opacity: 0; top: -100px;}
  90% { opacity: 1; top:0px;}
  100%{opacity: 1;}
}
.an06 {
  position: absolute;
  animation: an06 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  top: 600px;
}
@keyframes an06 {
  0%{ opacity: 1; left: 1250px}
  40%{ opacity: 0; left: 1800px;}
}

/*Animation2*/
.Eff1 {
  position: relative;
  animation: Eff1 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes Eff1 {
  0% { opacity: 1; top: 0px; transform: scale(1);}
  40% { opacity: 0; top: 400px; transform: scale(0);}
}

.Eff2 {
  position: relative;
  animation: Eff2 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes Eff2 {
  0% { opacity: 1; top: 0px; transform: scale(1);}
  40% { opacity: 0; top: 200px; transform: scale(0);}
}
.Eff3 {
  transition: .5s;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.Eff3:hover {
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0 0 50px #FF0000;
}
.rightop{
  position: relative;
  animation-name: rightop;
  animation-duration: 2.5s;
}
@keyframes rightop { 
  from{ right: 1000px; opacity:0 ;transform: rotate(0deg);} 
  to{ right: 0px; opacity:1 ;transform: rotate(360deg);}
}
.leftop{
  position: relative;
  animation-name: leftop;
  animation-duration: 2.5s;
}
@keyframes leftop { 
  from{ right: -1000px; opacity:0 ;transform: rotate(0deg);} 
  to{ right: 0px; opacity:1 ;transform: rotate(-360deg);}
}
.Eff4{
  position: relative;
  animation-name: Eff4;
  animation-duration: 1.5s;
}
@keyframes Eff4 { 
  from{ bottom: -100px; opacity:0 ;} 
  to{ bottom: 0px; opacity:1 ;}
}
.Eff5{
  position: relative;
  animation: Eff5 4s linear 1s infinite alternate;;
}
@keyframes Eff5 { 
  0%   { opacity: 1; }
  16.6%  { opacity: 0; }
  32.2%  { opacity: 1; }
  48.8%  { opacity: 0; }
  65.4% { opacity: 1; }
  82.0% {opacity: 0;}
  100% {opacity: 1;}
}

.ForPira{
	position: relative;
	animation-name: Eff_2;
	animation-duration: 1.5s;
	
}
@keyframes ForPira { 
  from{ bottom: -100px; opacity:0 ;} 
  to{ bottom: 0px; opacity:1 ;}
}
.ForPira2{
	animation-name: Eff_3;
	animation-duration: 1.5s;
}
@keyframes ForPira2 { 
  from{ transform: rotate(90deg); opacity:0 ;} 
  to{ transform: rotate(0deg); opacity:1 ;}
}
.cont {
  position: relative;
}
.pira{
	width: 100%;
	height: auto;
}
.fg {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.mi {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.ForPira3{
	position: relative;
	animation-name: leftop;
	animation-duration: 2.5s;
}
@keyframes ForPira3 { 
  from{ right: -1000px; opacity:0 ;transform: rotate(0deg);} 
  to{ right: 0px; opacity:1 ;transform: rotate(-360deg);}
}
.ForPira4{
	position: relative;
	animation-name: rightop;
	animation-duration: 2.5s;
}
@keyframes ForPira4 { 
  from{ right: 1000px; opacity:0 ;transform: rotate(0deg);} 
  to{ right: 0px; opacity:1 ;transform: rotate(360deg);}
}

.cont:hover .fg {
  opacity: 0.3;
}

.cont:hover .mi {
  opacity: 1;
}
.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}